:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  min-width: 300px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  height: 97vh;
}

.fly {
  position: relative;
  left: 80px;
  bottom: 20px;
  width: 180px;
  height: 40px;
}
